.head{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 0px 30px 0px 30px;
}

.list {
    margin: 20px;
    border: 2px solid slategray;
    border-radius: 10px 10px 10px 10px;
}

.listHead {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.listContent {
    margin: 20px;
    display: flex;
    justify-content: center;
}

